@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
  background-color: #000;  
  font-family: 'Press Start 2P';
  font-size: 11px; 
}

.alura-logo {
  width: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.page-logo {
  width: 200px;
}

.home {
  width: 38px;
  position: absolute;
  top: 20px;
  left: 20px;
}

header {
  display: block;
  text-align: center;
}

header div h1 {
  margin-bottom: 40px;
}

.container {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  margin: 0;  
}

div {
  padding: 15px;
}

input {
  font-family: inherit;
  font-size: 9px;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 15px;
  width: 20%;  
  border: 1px solid #ffffff;
  border-radius: 1px;
}

button {
  font-family: inherit;
  font-size: 10px;
  border: 0;
  color: white;
  background: gold;
  font-weight: bold;
  border-radius: 1px;
  padding: 10px 20px;    
  cursor: pointer;
  transition: 0.3s;
  margin-top: 30px;
  box-shadow: 5px 5px;
}

button:hover {
  opacity: 0.8;
}

footer {
  clear: both;
  position: relative;
  width: 100%;
  min-height: 200px;
  margin-top: auto;
}

.money-pic {
  width: 700px;
  margin-bottom: 10px;
}
