html {
  background-color: #000;
  color: #fff;
  font-family: "Roboto Mono", monospace; 
}

.alura-logo {
  width: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.page-logo {
  width: 200px;
}

.home {
  width: 38px;
  position: absolute;
  top: 20px;
  left: 20px;
}

header {
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  margin: 0;  
}

input {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 15px;
  width: 20%;  
  border: 1px solid #ffffff;
  border-radius: 2px;
}

button {
  border: 0;
  color: white;
  background: rgb(248, 29, 95);
  font-weight: bold;
  font-size: 15px;
  border-radius: 2px;
  padding: 10px 20px;    
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
}

button:hover {
  opacity: 0.8;
}

footer {
  clear: both;
  position: relative;
  width: 100%;
  min-height: 200px;
  margin-top: auto;
}

.thermometer-pic {
  width: 300px;
  margin-bottom: 20px;
}
